<h2>Technology</h2>
<p>Project Useful makes use of other's technologies, and I'd like to give them credit.</p>

<p>Thank you individuals, groups, and organizations who work on these tools.</p>

<div class="alert alert-danger">
<p><strong>IMPORTANT!</strong> Please note that use of their technology is in no way intended to imply that these organizations, groups, individuals, projects, etc. endorse Project Useful.</p>
</div>

<p><a href="https://www.ruby-lang.org/en/" target="_blank">Ruby Programming Language</a></p>
<p><a href="http://rubyonrails.org/" target="_blank">Ruby on Rails Framework</a></p>
<p><a href="https://sqlite.org" target="_blank">SQLite Database</a></p>
<p><a href="http://kamal-deploy.org/" target="_blank">Kamal Deployment Tool</a></p>
<p><a href="https://www.docker.com/" target="_blank">Docker</a></p>
<p><a href="http://getbootstrap.com" target="_blank">Bootstrap Front-end Toolkit</a></p>
