/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 */

@import "bootstrap";


nav {
	background-color: #0080c0;
	border-radius: 0px 0px 10px 10px;
}
.nav-item {
	color: #fff;
}
.nav-link {
	color: #fff;
}

.dropdown-menu {
	background-color: #fff;
	color: #000;
	list-style: none;
}

.dropdown-menu a {
	color: #000;
}

.dropdown-menu ul {
	list-style-type: none;
	margin: 3px;
	padding: 3px;
}

footer {
	background-color: #0080c0;
	border-radius: 10px;
	color: #fff;
	padding: 16px 16px 16px 16px;
}

footer a, footer a:hover, footer a:visited {
	color: #fff;
}

.yield {
	padding: 0 29px 0 29px;
}





